header {
  align-items: center;
}

header .search {
  display: none;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  width: auto;
}

.login {
  display: none;
}

.cart {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger img {
  width: 40px;
  height: 50px;
}

.black-friday {
  left: 50px;
}

.shop-now {
  left: 50px;
}

.items {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
